@import "../../../styles/theme.less";

.content-wrap {
  padding: 20px;
  max-height: calc(100vh - 115px);
  overflow-y: scroll;
}

/*  SCROLL BAR */

.content-wrap::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.content-wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: @primary-color;
}

.without-scroll {
  overflow-y: hidden;
}
