@import "../../../styles/theme.less";

.header {
  display: flex;
  align-items: center;
  border-bottom: @main-border;
  padding: @layout-header-padding;
  height: @layout-header-height;
  background: @layout-header-background;
  box-shadow: 2px 2px 8px 1px @inactive-color;

  .burger-menu {
    margin-right: 10px;
    display: none;

    @media screen and (max-width: @lg-break-point) {
      display: block;
    }
  }

  h1 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 1px;
  }
}
